/*to style the set of nav link into nav bar for all page*/
nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e5b1a5;
}
a{
   float:left;
}
nav a {
  display:inline-block;
  text-align:center;
  padding:20px;
  text-decoration: none;
}
nav a:link {
  color:gray;
}
nav a:visited {
  color:white;
}
nav a:hover {
  background-color:brown;
}
nav a:active {
  color:black;
}
.active{
  background-color:black;
}
body{
  background-color: #F5F5DC;
  margin:0;
}
h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  letter-spacing:3px;
  text-shadow:2px 2px 5px rgb(240, 240, 240);
}

/*to style index page*/
#indexHeader {
  color:white;
  background-color:#3D3754;
  padding:10px; 
  margin-left: 150px;
  margin-right: 150px;
}
#mypicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width:200px;
  height:200px;
  border-radius: 50%;
}
#infoTable{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border: solid black;
  border-collapse: collapse;
}
#infoTable th {
  height: 30px;
  width:10%;
  text-align: left;
  background-color:#d1b8a4; 
}
#infoTable td {
  height: 30px;
  width: 50%;
  text-align: left;
  background-color:#e3dbd4; 
}
#ambitionLink:hover{
  font-family:monospace;
  font-size: 15px;
}
/*to style accomplishments page*/
#accomplishmentHeader{
  color:white;
  background-color:#525251;
  padding:10px; 
  margin-left: 150px;
  margin-right: 150px;
}
#titleSkill{
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
  letter-spacing:2px;
}
#skillTable{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: solid black;
  border-collapse: collapse;
}
#skillTable th {
  text-align: center;
  color: white;
  background-color:#412a1d;
  font-size: 20px;
  border: 2px solid white;
  height: 30px;
  padding: 8px;
}
#skillTable td{
  text-align: center;
  background-color:#eebd52;
  font-size:19px; 
  border: 2px solid white;
}
#quotepicture{
  display: block;
  margin:50px auto 100px auto ;
  width:300px;
  background-color: white;
  box-shadow:10px 10px 5px grey;
}
#titleAchievement{
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  margin-left: 50px;
  letter-spacing:2px;
}
#achieveBox{
  font-family:Georgia, Verdana, sans-serif;
  font-size: 18px;
  width: auto;
  border:20px solid #f6ebb3;
  padding: 50px;
  margin:0 50px 20px 50px;
}
div{
  width: 150px;
  padding: 0 30px 50px 10px;
  border: 5px solid #FFAB5A;
  margin-left: 10px;
  background-color:#FFDD85;
}
#dklsLink{
  background-color:black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none 
}
/*to style contact page*/
#contactHeader{
  color:white;
  background-color:#50849b;
  padding:20px; 
  margin-left: 150px;
  margin-right: 150px;
}
.contactTable {
  border: 5px solid #3d3e49;
  background-color:#93bac0;
  padding:30px;
}
a.otherLink{
  font-size: 15px;
  color: black;
}
.otherLink:hover{
  color: white;
}
